<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Head -->
  <head>
    <title><%= @config.ctf_name %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="description" content="A capture the flag web application.">
    <% if @config.layout[:author] %>
    <meta name="author" content="<%= @config.layout[:author] %>">
    <% end %>
    <% if @config.layout[:easter_egg] %>
    <meta name="easter_egg" content="<%= @config.layout[:easter_egg] %>">
    <% end %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <style type="text/css">
      body {
        padding-top: 50px;
      }
    </style>
    <body>
      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/"></span><font color = "ffffff"><strong> <%= @config.ctf_name %></strong></font></a></div>
            <div class="collapse navbar-collapse" id="defaultNavbar1">
              <ul class="nav navbar-nav navbar-right">
                <%if username then %>
                <li><a href="/profile"><strong><%=username%></strong></a></li>
                <li><a href="/scoreboard">Scoreboard</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/logout">Logout</a></li>
                <% else %>
                <%if @config.public_scoreboard? then %>
                <li><a href="/scoreboard">Scoreboard</a></li>
                <% end %>
                <li><a href="/login">Login</a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Content -->
        <!-- First, handle errors. -->
        <%if @error then %>
        <div class="alert alert-error"><%=@error%></div>
        <% end %>
        <!-- Last, render content if no errors. -->
        <!-- Where the rest of the views are rendered. -->
        <%= yield %>
      </body>
      <%if @config.copyright then %>
      <footer class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              &nbsp;
              <!-- Super Important Copyright -->
              <p><%= @config.copyright %></p>
            </div>
          </div>
        </div>
      </footer>
      <% end %>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
    </html>
